In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('banvic_data/transacoes.csv')

In [3]:
df.columns

Index(['cod_transacao', 'num_conta', 'data_transacao', 'nome_transacao',
       'valor_transacao'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71999 entries, 0 to 71998
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cod_transacao    71999 non-null  int64
 1   num_conta        71999 non-null  int64
 2   data_transacao   71999 non-null  object
 3   nome_transacao   71999 non-null  object
 4   valor_transacao  71999 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.7+ MB

In [6]:
df['cod_transacao'].nunique()

71999

In [7]:
df.count()

cod_transacao      71999
num_conta          71999
data_transacao     71999
nome_transacao     71999
valor_transacao    71999
dtype: int64

In [8]:
df.isnull().sum()

cod_transacao      0
num_conta          0
data_transacao     0
nome_transacao     0
valor_transacao    0
dtype: int64

In [9]:
df.head()

,cod_transacao,num_conta,data_transacao,nome_transacao,valor_transacao
0,3100,256,2020-05-22 03:15:21 UTC,Saque,-130.0
1,28405,256,2021-06-29 11:52:38 UTC,Saque,-255.0
2,1776,512,2020-05-17 13:04:50 UTC,Saque,-250.0
3,14311,512,2020-09-06 02:55:34 UTC,Saque,-80.0
4,25012,512,2020-10-16 09:26:52 UTC,Saque,-475.0