In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('banvic_data/colaborador_agencia.csv')

In [4]:
df.columns

Index(['cod_colaborador', 'cod_agencia'], dtype='object')

In [5]:
df['cod_colaborador'].nunique()

100

In [8]:
df['cod_agencia'].nunique()

10

In [6]:
df.count()

cod_colaborador    100
cod_agencia        100
dtype: int64

In [9]:
df.isnull().sum()

cod_colaborador    0
cod_agencia        0
dtype: int64

In [7]:
df.head()

   cod_colaborador  cod_agencia
0                7            1
1               13            1
2               14            1
3               23            1
4               24            1